<div class="home-wrapper">
    <header >
        <div class="home-top-line">
            <div class="home-logo">
                LOGO
            </div>
            <nav>
                <ul class="home-nav-ul">
                    <a ng-click="$ctrl.goHome()"><li>Главная</li></a>
                    <a href=""><li>Професии</li></a>
                </ul>
            </nav>
        </div>
     </header>
			<div>
				<h1 class="prof-name">Професии</h1>
				<div class="wrapper">
					<div class="proffpage">
						<label class="proff-name">Врач</label>
						<img class="img-doctor" src="../../assets/img/doctor.jpg">
						<button class="proffbutton" ng-click="$ctrl.testDoctor()">Изучать</button>
					</div>
					<div class="proffpage">
						<label class="proff-name">Дизайнер</label>
						<img class="img-doctor" src="../../assets/img/disign.jpg">
						<button class="proffbutton" ng-click="$ctrl.testDisign()">Изучать</button>
					</div>
					<div class="proffpage">
						<label class="proff-name">Строитель</label>
						<img class="img-build" src="../../assets/img/build.jpg">
						<button class="proffbutton" ng-click="$ctrl.testBuilder()">Изучать</button>
					</div>
					<div class="proffpage">
						<label class="proff-name">Учитель</label>
						<img class="img-doctor" src="../../assets/img/teacher.jpg">
						<button class="proffbutton" ng-click="$ctrl.testTeacher()">Изучать</button>
					</div>
					<div class="proffpage">
						<label class="proff-name">Повар</label>
						<img class="img-doctor" src="../../assets/img/cook.jpg">
						<button class="proffbutton" ng-click="$ctrl.testCook()">Изучать</button>
					</div>
					<div class="proffpage">
						<img class="addbuttom" src="../../assets/img/add.jpg">
					</div>
			</div>
</div>